/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
.right {float: right;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
    color: #333;
	/*background-image: url(../images/bg.gif);
	background-repeat: repeat-x;
	*/
    background-color: #f3f3f3;
	font-family: Arial, Helvetica, sans-serif;
}
a {
     color: #fd7641;
}
h1 { font-size: 30px; font-family: 'Ubuntu', "Lucida Grande", Arial, Helvetica, sans-serif; color: #333333;}
h1.title {    
    color: #fd7641;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #d6d6d6;
}
.shaded-box {
    border: 1px solid #cccccc;    

    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    color: white;
    background-color: #86b84d;
    padding: 10px;
    text-align: center;
    font-family: 'Ubuntu', "Lucida Grande", Arial, Helvetica, sans-serif;
    font-size: 23px;

    line-height: 24px;
}
.form-labels {
    float: left;
    line-height: 35px;
    text-align: right;
    margin-right: 10px;
}
.form-inputs {
    float: left;
    line-height: 35px;
}
.about {
    margin-top: 15px;
    font-family: Trebuchet MS, Tahoma, Geneva, sans-serif;
    font-size: 18px;
    line-height: 25px;
    text-align: justify;
}
.about .small {
    font-size: 13px;
}
.about p { margin-bottom: 18px; } 
.main {
	width: 900px;
	margin: auto;
    background-color: white;
    padding: 15px;
    margin-top: 25px;
}
.top {
    position: absolute;
    width: 100%;
    overflow: hidden;
	color: #ffffff;
	height: 43px;
	background-image: url(../images/menubg.png);
	background-repeat: repeat-x;
    
}
.content {
    padding-top: 5px;
	padding-left: 15px;
	padding-right: 15px;
}
.submenu {
	height: 30px;
    line-height: 30px;
    color: white;
}
.submenu a {
    color: white;
    text-decoration: none
}
.skinny-header {
    height: 117px;
    background-color: #e5440a;
    border-bottom: 1px solid white;
    padding-left: 300px;
    color: white;
    font-size: 30px;
    font-family: 'Ubuntu', "Lucida Grande", Arial, Helvetica, sans-serif;
    line-height: 147px;
}
.featured {
    height: 445px;
    background-color: #12b3ed;
    border-bottom: 1px solid white;    
}
.start-link {
    padding-top: 80px;
    text-align: left;
}
.featured-image {
    float: left;
    padding-top: 54px;
    margin-left: 25px;
}
.featured-title {
    font-size: 40px;
    color: white;
    font-weight: bold;
    font-family: 'Ubuntu', "Lucida Grande", Arial, Helvetica, sans-serif;
    text-align: right;
}
.featured-description-content {
    padding: 10px;
    line-height: 45px;
    text-align: right;
}
.featured-description {
    float: left;
    margin-top: 70px;
    width: 500px;
    height: 300px;
    background-color: #1192c0;
    color: #a0d8ff;
    padding: 20px;

    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;

    font-size: 25px;
}
/* images */
#logo {
	position: absolute;
    z-index: 1;
}
#featured-text {
    margin-bottom: 30px;
}
.website, .website-last {
    float: left;
    padding-right: 31px;
    padding-bottom: 29px;

    width: 262px;
    /*height: 193px;*/    
}
.website-last {
    padding-right: 0px;
}
.website-description {
    color: #666;
    width: 242px;
    font-size: 14px;
}
.website-title {
    width: 242px;
    font-size: 20px;    
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    color: #535353;
    font-weight: bold;
    /*text-shadow: 0.05em 0.05em #cccccc;*/


}
.more, .submit-button {
    border: 1px solid #cccccc;    

    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;

    background-color: #f6f6f6;
    padding: 10px;
    text-align: center;
    font-family: 'Ubuntu', "Lucida Grande", Arial, Helvetica, sans-serif;
    font-size: 23px;
}
.submit-button {
    float: right;
}
.footer {
    margin-top: 30px;
    border-top: 1px solid #cccccc;
    padding-top: 5px;
    font-variant: small-caps;
    text-align: center;
}
.links {
    margin-top: 10px; font-size: 15px;
    font-family: Trebuchet MS, Tahoma, Geneva, sans-serif;
    padding-left: 310px;
}
.links a { color: #fff; text-decoration: none; }
.link {font-weight: bold;}
.link a {
    /*
    background-color: #929292;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
        */

    padding: 5px;
    margin-right: 10px;
}
.link a.active {
    color: #fd7641;
}
.orange {
    color: #fd7641;
}

.clear { clear: both; }
.left { float: left; }




/* Success, error & notice boxes for messages and errors. */
div.error, div.notice, div.success, span.error,
#flash_failure, #flash_success, #flash_notice {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border: 1px solid #ddd;
  margin-bottom: 1em;
  padding: 0.8em; }

div.error, span.error,
#flash_failure {
  background: #FBE3E4;
  border-color: #FBC2C4;
  color: #D12F19; }

div.error a, span.error,
#flash_failure a {
  color: #D12F19; }

div.notice,
#flash_notice {
  background: #FFF6BF;
  border-color: #FFD324;
  color: #817134; }

div.notice a,
#flash_notice a {
  color: #817134; }

div.success,
#flash_success {
  background: #E6EFC2;
  border-color: #C6D880;
  color: #529214; }

div.success a,
#flash_success a {
  color: #529214; }





/* Flutie default styles overrides **/
#main_notice.notice, #main_error.error {
    border-color: white;
    border-width: 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin-bottom: 0px;
}
span.error, #error_explanation {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border: 1px solid #ddd;
  margin-bottom: 1em;
  padding: 0.8em; }

span.error, #error_explanation {
  background: #FBE3E4;
  border-color: #FBC2C4;
  color: #D12F19; }

#error_explanation h2 {
    color: #D12F19;
    font-size: 18px;
}
span.error, #error_explanation {
  color: #D12F19; }