- content_for :header do
  .skinny-header
    %div{:style => "padding-top: 1px; width: 820px; margin: auto;"}
    Administration Panel


= link_to "Add new Mash", new_website_post_url
%br/
%br/
= link_to "Add text to front page", new_frontpage_text_url      