%h1 About Us
.about
  %p
    Actually, "us" doesn't exist, it's just "me." Beautiful Websites is a site heavily inspired by Devour.com
    where the best designs of the web are handpicked by none other than The Benevolent Dictator™
    <span class="small">(also me)</span>
  %p
    The Benevolent Dictator™ strongly believes that the best way to improve as a web designer is
    not to be original, but to learn from the professionals.
    Beautiful Websites is here to help you by providing links to the best designs on the web.
    The Benevolent Dictator™ insures that all websites posted are of the upmost quality. <span class="small">(citation needed)</span>

  %p
    Almost all websites on the front-page are recommendations.
    <span class="small">(The Benevolent Dictator™ is very busy).</span>
    %br/
    So, if you know any good looking websites, be sure to go to the "Submit a Website"
    section and give us some links!

  %p
    Yours truly,
    %br/
    The Benevolent Dictator™.