- content_for :header do
  .skinny-header
    %div{:style => "padding-top: 1px; width: 820px; margin: auto;"}
    Acerca de Nostoros

.about
  %p
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed ipsum ipsum.
    Vivamus vestibulum fermentum faucibus. Cras a ipsum vehicula ligula mollis vestibulum.
    Morbi a elit ut ante blandit dignissim et vel nibh.
    consequat justo in tellus consequat eget tempus enim consequat. Curabitur metus felis,
    adipiscing mollis pharetra non, viverra id ligula. Morbi ac odio leo, et dictum dolor.

  %p
    Vivamus adipiscing consectetur tincidunt. In mattis sem ac dolor feugiat nec hendrerit lorem porta.
    Nullam iaculis iaculis dictum. Duis pulvinar rutrum malesuada. Nulla in lacus et dolor pharetra gravida
    ut sed nulla. Sed dictum luctus mauris, et pretium risus vehicula nec. Sed ac libero a ipsum imperdiet elementum.
    Vivamus tempor commodo adipiscing. Vestibulum congue risus sed tortor facilisis sit amet pellentesque urna cursus.
    Vivamus lorem risus, viverra nec pellentesque eget, fermentum sed tortor.

  %p
    Vestibulum non nibh nisl, in auctor sem. Suspendisse id purus lacus. Etiam nec sodales felis.
    Praesent sapien felis, tempor vitae malesuada sit amet, bibendum at nisl. Etiam ipsum massa,
    elementum eu varius non, rutrum non arcu. Proin et nibh at urna rhoncus auctor. Nunc mauris neque,
    fringilla id cursus nec, scelerisque nec purus. Curabitur malesuada gravida sollicitudin.
    Cras aliquam porta aliquam. Nulla auctor, turpis eu ornare adipiscing, arcu eros laoreet lectus,
    ut luctus diam ante in ligula. Pellentesque sed dolor elit, id scelerisque nunc. Vivamus pretium massa
    in ligula venenatis aliquam.      